/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../images/background.png");
  background-color: #f4f4f4;
  margin-top: 200px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  backdrop-filter: blur(8px);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7dfd4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0606;
}

/* .card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
input[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button {
  background-color: #800080; /* Purple button 
  color: white;
  width: 90%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
