<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="x-icon" href="../static/images/logo.png" />
    <!--=============== REMIXICONS ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/login.css" />

    <title>Login</title>
  </head>
  <body>
    <div class="login">
      <img
        src="../static/images/background.png"
        alt="login image"
        class="login__img"
      />

      <form
        action="{{ url_for('login') }}"
        method="POST"
        class="login__form"
        onsubmit="return validateForm()"
      >
        <div class="back-icon">
          <a href="/index.html" class="back-link">&larr;</a>
        </div>
        <h1 class="login__title">Login</h1>

        <div class="login__content">
          <div class="login__box">
            <i class="ri-user-3-line login__icon"></i>

            <div class="login__box-input">
              <input
                type="email"
                required
                class="login__input"
                id="login-email"
                name="email"
                placeholder=" "
              />
              <label for="login-email" class="login__label">Email</label>
            </div>
          </div>

          <div class="login__box">
            <i class="ri-lock-2-line login__icon"></i>

            <div class="login__box-input">
              <input
                type="password"
                required
                class="login__input"
                id="login-pass"
                name="password"
                placeholder=" "
              />
              <label for="login-pass" class="login__label">Password</label>
              <i class="ri-eye-off-line login__eye" id="login-eye"></i>
            </div>
          </div>
        </div>

        <div class="login__check">
          <div class="login__check-group">
            <input
              type="checkbox"
              class="login__check-input"
              id="login-check"
            />
            <label for="login-check" class="login__check-label"
              >Remember me</label
            >
          </div>

          <a href="#" class="login__forgot">Forgot Password?</a>
        </div>

        <button type="submit" class="login__button">Login</button>

        <p class="login__register">
          Don't have an account? <a href="/signup">Register</a>
        </p>
        <p>
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
        </p>

        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
      </form>
    </div>

    <!--=============== MAIN JS ===============-->
    <script>
      const showHiddenPass = (loginPass, loginEye) => {
        const input = document.getElementById(loginPass),
          iconEye = document.getElementById(loginEye);

        iconEye.addEventListener("click", () => {
          // Change password to text
          if (input.type === "password") {
            // Switch to text
            input.type = "text";

            // Icon change
            iconEye.classList.add("ri-eye-line");
            iconEye.classList.remove("ri-eye-off-line");
          } else {
            // Change to password
            input.type = "password";

            // Icon change
            iconEye.classList.remove("ri-eye-line");
            iconEye.classList.add("ri-eye-off-line");
          }
        });
      };

      showHiddenPass("login-pass", "login-eye");

      function validateForm() {
        // You can add client-side validation here if needed
        return true; // Returning true to allow form submission
      }
    </script>
  </body>
</html>
