<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/processing.css" />
    <title>Processing payment</title>
  </head>
  <body>
    <div class="payment-page">
      <div><img src="../static/images/logo.png" alt="" /></div>
      <h1>Hang On!!!</h1>
      <div class="processing-box">
        <div class="loading-spinner"></div>
        <p>Processing payment...</p>
        <meta
          http-equiv="refresh"
          content="10; http://127.0.0.1:5501/templates/confirm.html"
        />
      </div>
    </div>
  </body>
</html>
