<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/css/pstyle.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">USER PROFILE </a>
      </nav>
    </header>
    <div class="container">
      <div class="profile-card">
        <img src="img.png" alt="Profile Picture" />
      </div>
      <div class="details-card">
        <h2>Contact Information</h2>
        <div class="info-section">
          <label>Full Name:</label>
          <span>Johnathan Doe</span>
        </div>
        <div class="info-section">
          <label>Email:</label>
          <span
            ><a href="mailto:johnathan@admin.com">johnathan@admin.com</a></span
          >
        </div>
        <div class="info-section">
          <label>Account Manager:</label>
          <span>Hanna Gover, Amix corp</span>
        </div>
        <div class="info-section">
          <label>ID:</label>
          <span>254 54</span>
        </div>
        <div class="info-section">
          <label>Password:</label>
          <span>******</span>
        </div>
        <div class="info-section">
          <label>Phone Number:</label>
          <span><a href="tel:123 456 7890">123 456 7890</a></span>
        </div>
        <div class="upgrade-button">
          <button>Upgrade to Pro</button>
        </div>
      </div>
    </div>
  </body>
</html>
