<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/css/reset_pwd.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>New Password</h1>
      </div>
      <div class="instructions">
        Please create a new password that <br />you don’t use on any other site.
      </div>
      <form action="/reset_password">
        <input
          type="text"
          name="otp"
          id="otpnumber"
          placeholder="Enter OTP"
          required
        /><br />
        <input
          type="password"
          name="newPassword"
          id="newPassword"
          placeholder="Create new password"
        />
        <button type="submit" class="btn">Reset Password</button>
      </form>
    </div>
  </body>
</html>
